html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Customizações*/

.navbar-bg-custom {
    background-color: #015958;
}

.btn-filter-custom {
    background-color: rgba(1, 89, 88, 0.25);
    color: #015958;
    border: none;
}

.btn-add-custom {
    background-color: #015958;
    color: white;
}

.pagination .page-link {
    border: none;
    color: black;
}

.pagination .page-link:hover {
    background-color: #015958;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #015958;
    color: white; 
    border: none; 
}

.pagination .page-link:focus {
    box-shadow: none;
}

.no-focus:focus {
    outline: none;
    box-shadow: none;
}