html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Customizações*/

.navbar-bg-custom {
    background-color: #015958;
}

.btn-filter-custom{
    background-color: rgba(1, 89, 88, 0.25);
    font-weight: 600;
    color: #015958;
    border: none;
}

.dropdown-item.filter-option:hover {
    background-color: rgba(1, 89, 88, 0.25);
    color: #015958;
}

.dropdown-item.filter-option:active {
    background-color: #015958;
    color: white;
}

.dropdown-header.text-muted {
    color: #B0B0B0;
    font-size: 12px; 
}

.dropdown-menu {
    max-height: 160px;
    overflow-y: auto;
}

.btn-add-custom {
    background-color: #015958;
    color: white;
    font-weight: 600;
}

.pagination .page-link {
    border: none;
    color: black;
}

.pagination .page-link:hover {
    background-color: #015958;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #015958;
    color: white; 
    border: none; 
}

.pagination .page-link:focus {
    box-shadow: none;
}

.no-focus:focus {
    outline: none;
    box-shadow: none;
}